<html>
    <head>
        <title>Sanne's website</title>
    </head>
    <body>
        <div>
            <h1><a href="">HOI POPJORN</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Na duizend errors is de pagina online!.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>becoming a programmer!!!</p>
        </div>
    </body>
</html>
